#our-services {
    background-color: #EAEAEA;
    padding-top: 70px;
    padding-bottom: 90px;
    .container {
        .headline {
            display: flex;
            flex-direction: column;
            align-items: center;



            h5 {
                font-size: 14px;
                color: rgba(217, 195, 169, 1);
                padding-bottom: 10px;
                margin-bottom: 0;
            }

            h2 {
                font-size: 40px;
                margin: 0;
                text-align: center;
                width: 55%;
            }
        }

        .articles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            padding-top: 50px;

            article {
                background-color: white;
                width: 370px;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                transition: transform 0.3s ease;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    background-color: F2EDDC;
                }

                h5 {
                    font-size: 22px;
                    padding-left: 20px;
                }

                p {
                    padding: 20px;
                    font-weight: 300;
                }
            }
        }
    }
}
