footer {
    background-color: black;
    padding: 15px;
    .container {
        display: flex;

        .copyright {
        }

        .credits {

            a {
                text-decoration: none !important;
                color: rgba(217, 195, 169, 1);
            }
        }
    }
}
