#map-form {
    position: relative;
    overflow: visible;
    height: 748px;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .container {
        background-color: white;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 1170px;
        height: 567px;

        .form-text {
            padding-top: 80px;
            width: 50%;

            h5 {
                color: #D9C3A9;
                font-weight: 700;
                margin: 0;
            }

            h2 {
                margin: 0;
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;
            }

            p {
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                font-style: italic;
                padding-top: 25px;
            }
        }

        .contact-form {
            width: 100%;
            padding: 40px;
            padding-top: 0;
            padding-bottom: 0;

            form {

                .form-row {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                    padding-top: 20px;


                    input {
                        padding: 17px;
                        box-sizing: border-box;
                        font-style: italic;
                        border: 1px solid lightgrey;
                    }

                    .input-with-icon {
                        position: relative;

                        input {
                            width: 100%;
                            padding-right: 30px;
                            font-style: normal;
                        }

                        i {
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        .submit-contact {
            @include btn;
            background-color: #4F5955;
            color: #F2EDDC;

            &:hover {
                background-color: #F2EDDC;
                color: #4F5955;
            }

            button {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                font: inherit;
                color: inherit;
                cursor: pointer;
            }
        }
    }
}
