@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.container {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (prefers-reduced-motion: no preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: black;
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(79, 89, 85);
}

header .topbar {
  background-color: rgb(79, 89, 85);
}
header .topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .topbar .container .address {
  color: white;
}
header .topbar .container .socialmedia {
  display: flex;
  justify-content: space-between;
}
header .topbar .container .socialmedia a {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-bottom: none;
  padding: 13px;
}
header .topbar .container .socialmedia a:hover {
  background: rgb(242, 237, 220);
  color: rgb(79, 89, 85);
}
header .topbar .container .socialmedia a i {
  width: 16px;
  height: 16px;
}
header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
header .navbar .container nav {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
header .navbar .container nav .nav-link {
  text-decoration: none !important;
  color: rgb(79, 89, 85);
  font-weight: 700;
}
header .navbar .container nav .nav-link:hover {
  color: rgb(242, 237, 220);
}
header .navbar .container .search i {
  cursor: pointer;
  width: 18px;
  height: 15px;
}
header .navbar .container .search i:hover {
  width: 20px;
  height: 18px;
}

#hero-slider {
  position: relative;
  overflow: hidden;
}
#hero-slider .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#hero-slider .container {
  position: relative;
  z-index: 2;
}
#hero-slider .container .hero-content {
  width: 45%;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: left;
}
#hero-slider .container .hero-content h1 {
  line-height: 80px;
  font-size: 65px;
}
#hero-slider .container .hero-content p {
  font-size: 16px;
  padding-bottom: 30px;
}
#hero-slider .container .hero-content div a {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  gap: 12px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none !important;
  background: rgb(79, 89, 85);
  color: white;
  border-color: rgb(79, 89, 85);
}
#hero-slider .container .hero-content div a:hover {
  transition: 0.25s;
  text-decoration: none;
}
#hero-slider .container .hero-content div a:hover {
  background: white;
  color: rgb(79, 89, 85);
  border-color: purple;
}

#about-us {
  position: relative;
  overflow: visible;
}
#about-us .container {
  display: flex;
}
#about-us .container .content {
  width: 60%;
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: left;
}
#about-us .container .content .headline h5 {
  font-size: 14px;
  color: rgb(217, 195, 169);
}
#about-us .container .content .headline h2 {
  font-size: 40px;
}
#about-us .container .content .quote {
  font-size: 20px;
}
#about-us .container .content p {
  font-size: 14px;
}
#about-us .container .contact-form {
  position: absolute;
  top: -90px;
  left: 750px;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 470px;
  height: 572px;
  border: 1px solid lightgrey;
}
#about-us .container .contact-form .form-title {
  background-color: #4F5955;
  height: 100px;
  align-content: center;
}
#about-us .container .contact-form .form-title h3 {
  padding-left: 20px;
  font-size: 30px;
  color: #F2EDDC;
  margin: 0;
}
#about-us .container .contact-form .form-about-us {
  padding: 20px;
}
#about-us .container .contact-form .form-about-us p {
  margin: 0;
  padding-bottom: 20px;
}
#about-us .container .contact-form .form-about-us .form-request form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#about-us .container .contact-form .form-about-us .form-request form input {
  padding: 17px;
  box-sizing: border-box;
  font-style: italic;
  border: 1px solid lightgrey;
}
#about-us .container .contact-form .form-about-us .form-request form .input-with-icon {
  position: relative;
}
#about-us .container .contact-form .form-about-us .form-request form .input-with-icon input {
  font-style: normal;
  width: 100%;
  padding-right: 30px;
  font-style: normal;
}
#about-us .container .contact-form .form-about-us .form-request form .input-with-icon i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#about-us .container .contact-form .submit-contact {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  gap: 12px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: #F2EDDC;
  color: #4F5955;
  width: 100%;
  border: none;
  text-align: center;
}
#about-us .container .contact-form .submit-contact:hover {
  transition: 0.25s;
  text-decoration: none;
}
#about-us .container .contact-form .submit-contact:hover {
  background-color: #4F5955;
  color: #F2EDDC;
}
#about-us .container .contact-form .submit-contact button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

#our-services {
  background-color: #EAEAEA;
  padding-top: 70px;
  padding-bottom: 90px;
}
#our-services .container .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .container .headline h5 {
  font-size: 14px;
  color: rgb(217, 195, 169);
  padding-bottom: 10px;
  margin-bottom: 0;
}
#our-services .container .headline h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  width: 55%;
}
#our-services .container .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 50px;
}
#our-services .container .articles article {
  background-color: white;
  width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}
#our-services .container .articles article:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #F2EDDC;
}
#our-services .container .articles article h5 {
  font-size: 22px;
  padding-left: 20px;
}
#our-services .container .articles article p {
  padding: 20px;
  font-weight: 300;
}

#why-us {
  position: relative;
  overflow: hidden;
  padding-top: 130px;
}
#why-us .container {
  position: relative;
  width: 100%;
  height: 823px;
}
#why-us .container .background {
  position: absolute;
  top: 60;
  left: 0;
  right: 50;
  bottom: 0;
  z-index: 1;
}
#why-us .container .content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 70%;
  margin: auto;
  padding: 0;
}
#why-us .container .content .headline {
  font-size: 40px;
  padding: 0;
  margin: 0;
}
#why-us .container .content .clients {
  padding-bottom: 30px;
  margin: 0;
  font-size: 40px;
  color: D9C3A9;
}
#why-us .container .content p {
  padding-bottom: 15px;
}
#why-us .container .content a {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  gap: 12px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none !important;
  background: rgb(79, 89, 85);
  color: white;
  border-color: rgb(79, 89, 85);
}
#why-us .container .content a:hover {
  transition: 0.25s;
  text-decoration: none;
}
#why-us .container .content a:hover {
  background: white;
  color: rgb(79, 89, 85);
  border-color: purple;
}

#success-stories {
  background-color: #4F5955;
  position: relative;
  overflow: visible;
  padding-top: 110px;
  height: 900px;
}
#success-stories .background {
  position: absolute;
  top: 150;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#success-stories .container {
  position: relative;
  z-index: 2;
}
#success-stories .container .headline {
  padding-bottom: 65px;
  align-items: center;
  text-align: center;
  color: white;
}
#success-stories .container .headline h5 {
  font-size: 14px;
  color: D9C3A9;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
#success-stories .container .headline h2 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 40px;
}
#success-stories .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#success-stories .container .content .count-text {
  width: 370px;
}
#success-stories .container .content .count-text .count {
  padding: 0;
  margin: 0;
  font-size: 100px;
  color: D9C3A9;
}
#success-stories .container .content .count-text p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
}
#success-stories .container .overlap-image {
  position: absolute;
  bottom: -600px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#our-projects {
  position: relative;
  z-index: 1;
  padding-top: 170px;
}
#our-projects .container h5 {
  color: #D9C3A9;
  font-size: 14px;
}
#our-projects .container h2 {
  font-size: 40px;
}
#our-projects .article-content {
  display: flex;
  justify-content: center;
}
#our-projects .article-content .project-article {
  position: relative;
  overflow: hidden;
}
#our-projects .article-content .project-article .project-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
#our-projects .article-content .project-article article {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  transition: height 0.3s ease, background-color 0.3s ease;
  z-index: 2;
}
#our-projects .article-content .project-article article .project-content h6 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease;
}
#our-projects .article-content .project-article article .project-content p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease;
}
#our-projects .article-content .project-article article .project-url {
  display: flex;
  justify-content: end;
  align-items: center;
}
#our-projects .article-content .project-article article .project-url a {
  color: white;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
#our-projects .article-content .project-article:hover .project-image {
  transform: scale(1.05);
}
#our-projects .article-content .project-article:hover article {
  height: 30%;
  background-color: #4F5955;
}
#our-projects .article-content .project-article:hover article .project-content h6 {
  color: #D9C3A9;
}
#our-projects .article-content .project-article:hover article .project-url a {
  opacity: 1;
  pointer-events: auto;
}

#customers {
  padding-top: 75px;
  padding-bottom: 75px;
}
#customers .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-welcome {
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  padding-bottom: 80px;
  padding-top: 60px;
}
#about-welcome .globeLeft {
  position: absolute;
  bottom: 80px;
  left: 900px;
  z-index: 1;
}
#about-welcome .container {
  position: relative;
  z-index: 2;
}
#about-welcome .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about-welcome .container .content h1 {
  font-size: 40px;
}
#about-welcome .container .content .about-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#about-welcome .container .content .about-directions a {
  text-decoration: none;
  color: #4F5955;
  font-size: 14px;
}
#about-welcome .container .content .about-directions i {
  color: #4F5955;
}
#about-welcome .container .content .about-directions p {
  font-size: 14px;
  color: #D9C3A9;
  padding: 0;
  margin: 0;
}
#about-welcome .globeRight {
  position: absolute;
  bottom: -90px;
  left: -40px;
  transform: rotate(190deg);
  z-index: 1;
}

#about-author {
  padding-top: 135px;
  padding-bottom: 135px;
}
#about-author .container {
  display: flex;
  gap: 45px;
}
#about-author .container .author-image p {
  font-style: italic;
  font-size: 16px;
}
#about-author .container .author-paragraph .aboutQuote {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}
#about-author .container .author-paragraph .aboutText {
  padding-top: 25px;
  font-size: 14px;
  margin: 0;
  line-height: 1.7;
}

#about-reviews {
  position: relative;
  padding-top: 45px;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: #EAEAEA;
}
#about-reviews .reviews-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-reviews .reviews-content .container {
  display: flex;
  z-index: 2;
}
#about-reviews .reviews-content .container .review-text {
  text-align: left;
  width: 45%;
}
#about-reviews .reviews-content .container .review-text h5 {
  color: #D9C3A9;
  font-size: 14px;
  margin: 0;
}
#about-reviews .reviews-content .container .review-text h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  padding-right: 30px;
  padding-bottom: 40px;
}
#about-reviews .reviews-content .container .review-text .reviewsParagraph {
  margin: 0;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}
#about-reviews .reviews-content .container .review-text .review-stars {
  padding-top: 30px;
  padding-bottom: 30px;
}
#about-reviews .reviews-content .container .review-text .reviewsAuthor {
  font-size: 14px;
  margin: 0;
}
#about-reviews .reviews-content .container .review-text .reviewsCompany {
  margin: 0;
  font-style: italic;
  font-size: 20px;
}
#about-reviews .reviewsImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 52%;
  height: auto;
  z-index: 1;
}

#our-experts {
  padding-top: 135px;
  padding-bottom: 100px;
}
#our-experts .container .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 35px;
}
#our-experts .container .headline h5 {
  color: #D9C3A9;
  font-size: 14px;
  margin: 0;
}
#our-experts .container .headline h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  width: 46%;
}
#our-experts .container .expert-teams .team-one {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 55px;
}
#our-experts .container .expert-teams .team-one article {
  border: 0.5px solid #ccc;
}
#our-experts .container .expert-teams .team-one article .expert-text {
  padding: 15px;
  padding-left: 20px;
}
#our-experts .container .expert-teams .team-one article .expert-text .expert-name {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}
#our-experts .container .expert-teams .team-one article .expert-text .expert-title {
  font-size: 13px;
  margin: 0;
}
#our-experts .container .expert-teams .team-two {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
#our-experts .container .expert-teams .team-two article {
  border: 0.5px solid #ccc;
}
#our-experts .container .expert-teams .team-two article .expert-text {
  padding: 15px;
  padding-left: 20px;
}
#our-experts .container .expert-teams .team-two article .expert-text .expert-name {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}
#our-experts .container .expert-teams .team-two article .expert-text .expert-title {
  font-size: 13px;
  margin: 0;
}

#about-contact,
.about-contact {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 713px;
  background-color: rgb(247, 247, 247);
}
#about-contact .container,
.about-contact .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#about-contact .container .background-contact,
.about-contact .container .background-contact {
  position: relative;
  width: 100%;
  height: auto;
}
#about-contact .container .background-contact .contactBackground,
#about-contact .container .background-contact .contactMember,
.about-contact .container .background-contact .contactBackground,
.about-contact .container .background-contact .contactMember {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  height: auto;
}
#about-contact .container .background-contact .contactMember,
.about-contact .container .background-contact .contactMember {
  z-index: 1;
}
#about-contact .container .background-contact .contactBackground,
.about-contact .container .background-contact .contactBackground {
  z-index: 0;
}
#about-contact .container .about-contact-info,
.about-contact .container .about-contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
#about-contact .container .about-contact-info h2,
.about-contact .container .about-contact-info h2 {
  font-size: 40px;
}
#about-contact .container .about-contact-info .about-office-location,
.about-contact .container .about-contact-info .about-office-location {
  padding-top: 10px;
}
#about-contact .container .about-contact-info .about-office-location .example-info,
.about-contact .container .about-contact-info .about-office-location .example-info {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}
#about-contact .container .about-contact-info .about-office-location .example-info i,
.about-contact .container .about-contact-info .about-office-location .example-info i {
  color: #D9C3A9;
  padding-right: 10px;
}
#about-contact .container .about-contact-info .about-office-location .office-info,
.about-contact .container .about-contact-info .about-office-location .office-info {
  margin: 0;
  font-size: 14px;
}

#service-welcome {
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  padding-bottom: 80px;
  padding-top: 60px;
}
#service-welcome .globeLeft {
  position: absolute;
  bottom: 80px;
  left: 900px;
  z-index: 1;
}
#service-welcome .container {
  position: relative;
  z-index: 2;
}
#service-welcome .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#service-welcome .container .content h1 {
  font-size: 40px;
}
#service-welcome .container .content .about-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#service-welcome .container .content .about-directions a {
  text-decoration: none;
  color: #4F5955;
  font-size: 14px;
}
#service-welcome .container .content .about-directions i {
  color: #4F5955;
}
#service-welcome .container .content .about-directions p {
  font-size: 14px;
  color: #D9C3A9;
  padding: 0;
  margin: 0;
}
#service-welcome .globeRight {
  position: absolute;
  bottom: -90px;
  left: -40px;
  transform: rotate(190deg);
  z-index: 1;
}

#articles-solution {
  padding-top: 70px;
  padding-bottom: 90px;
}
#articles-solution .container .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#articles-solution .container .headline h5 {
  font-size: 14px;
  color: rgb(217, 195, 169);
  padding-bottom: 10px;
  margin-bottom: 0;
}
#articles-solution .container .headline h2 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  width: 55%;
}
#articles-solution .container .articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 50px;
}
#articles-solution .container .articles article {
  background-color: white;
  width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
#articles-solution .container .articles article:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #F2EDDC;
}
#articles-solution .container .articles article h5 {
  font-size: 22px;
  padding-left: 20px;
}
#articles-solution .container .articles article p {
  padding: 20px;
  font-weight: 300;
}
#articles-solution .container .article-swiper {
  padding-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  transition: all 0.3s ease;
}
#articles-solution .container .article-swiper .prev-next-1 {
  border: none;
  color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
  font-size: 18px;
  background-color: white;
}
#articles-solution .container .article-swiper .prev-next-2 {
  border: none;
  color: #4B5264;
  cursor: pointer;
  font-size: 18px;
  background-color: white;
}
#articles-solution .container .article-swiper .pages-1 {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #4B5264;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#articles-solution .container .article-swiper .pages-1:active {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#articles-solution .container .article-swiper .pages-2 {
  background-color: white;
  border: none;
  color: #4B5264;
  cursor: pointer;
}
#articles-solution .container .article-swiper .pages-2:active {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#risk-management .container {
  display: flex;
  gap: 50px;
}
#risk-management .container .article-left {
  border-right: 1px solid rgba(128, 128, 128, 0.3);
  padding-right: 50px;
}
#risk-management .container .article-left .risk-about-us .risk-about-us-text {
  padding-bottom: 45px;
}
#risk-management .container .article-left .risk-about-us .risk-about-us-text h4 {
  font-size: 22px;
}
#risk-management .container .article-left .risk-about-us .risk-about-us-text p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 23px;
  width: 300px;
}
#risk-management .container .article-left .risk-about-us .form-assist {
  background-color: #4F5955;
  padding: 10px;
  width: 300px;
  height: 223px;
}
#risk-management .container .article-left .risk-about-us .form-assist h2 {
  color: #D9C3A9;
  margin: 0;
  padding-bottom: 15px;
}
#risk-management .container .article-left .risk-about-us .form-assist p {
  margin: 0;
  color: rgb(196, 196, 196);
  padding-bottom: 40px;
}
#risk-management .container .article-left .risk-about-us .form-assist form .email-form {
  position: relative;
  display: flex;
  align-items: center;
}
#risk-management .container .article-left .risk-about-us .form-assist form .email-form input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  font-style: italic;
}
#risk-management .container .article-left .risk-about-us .form-assist form .email-form i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 600;
}
#risk-management .container .management-article .management-article-content .article-start h4,
#risk-management .container .management-article .management-article-content .article-middle h4,
#risk-management .container .management-article .management-article-content .article-end h4 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}
#risk-management .container .management-article .management-article-content .article-start p,
#risk-management .container .management-article .management-article-content .article-middle p,
#risk-management .container .management-article .management-article-content .article-end p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 15px;
}
#risk-management .container .management-article .management-article-content .article-start ul,
#risk-management .container .management-article .management-article-content .article-middle ul,
#risk-management .container .management-article .management-article-content .article-end ul {
  margin: 0;
  padding: 15px;
  padding-right: 0;
}
#risk-management .container .management-article .management-article-content .article-start ul li,
#risk-management .container .management-article .management-article-content .article-middle ul li,
#risk-management .container .management-article .management-article-content .article-end ul li {
  color: #535656;
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
}
#risk-management .container .management-article .management-article-content .article-start ul li::marker,
#risk-management .container .management-article .management-article-content .article-middle ul li::marker,
#risk-management .container .management-article .management-article-content .article-end ul li::marker {
  color: #D9C3A9;
}
#risk-management .container .management-article .management-article-content .article-start h4 {
  padding-top: 30px;
}
#risk-management .container .management-article .management-article-content .article-middle h4 {
  padding-top: 10px;
  padding-bottom: 15px;
}
#risk-management .container .management-article .management-article-content .article-end h4 {
  padding-top: 30px;
}
#risk-management .container .management-article .management-article-content .article-end ul {
  padding-top: 0;
}

.article-end-form {
  padding-top: 50px;
  padding-bottom: 50px;
}
.article-end-form .container h3 {
  font-size: 25px;
  font-weight: 700;
}
.article-end-form .container form .email-form {
  display: flex;
  gap: 40px;
  padding-bottom: 25px;
}
.article-end-form .container form .email-form input {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 17px;
  box-sizing: border-box;
  font-style: italic;
  width: 100%;
}
.article-end-form .container form .question {
  padding-bottom: 10px;
}
.article-end-form .container form .question textarea {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 17px;
  box-sizing: border-box;
  font-style: italic;
  width: 100%;
  resize: none;
}
.article-end-form .container .submit-contact {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  gap: 12px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: #4F5955;
  color: #F2EDDC;
}
.article-end-form .container .submit-contact:hover {
  transition: 0.25s;
  text-decoration: none;
}
.article-end-form .container .submit-contact:hover {
  background-color: #F2EDDC;
  color: #4F5955;
}
.article-end-form .container .submit-contact button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

#projects-welcome {
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  padding-bottom: 80px;
  padding-top: 60px;
}
#projects-welcome .globeLeft {
  position: absolute;
  bottom: 80px;
  left: 900px;
  z-index: 1;
}
#projects-welcome .container {
  position: relative;
  z-index: 2;
}
#projects-welcome .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects-welcome .container .content h1 {
  font-size: 40px;
}
#projects-welcome .container .content .about-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#projects-welcome .container .content .about-directions a {
  text-decoration: none;
  color: #4F5955;
  font-size: 14px;
}
#projects-welcome .container .content .about-directions i {
  color: #4F5955;
}
#projects-welcome .container .content .about-directions p {
  font-size: 14px;
  color: #D9C3A9;
  padding: 0;
  margin: 0;
}
#projects-welcome .globeRight {
  position: absolute;
  bottom: -90px;
  left: -40px;
  transform: rotate(190deg);
  z-index: 1;
}

#projects-list {
  padding-top: 50px;
}
#projects-list .container {
  display: flex;
}
#projects-list .container .project-list-content .projects-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
#projects-list .container .project-list-content .projects-content .projects-articles {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 40px;
}
#projects-list .container .project-list-content .projects-content .projects-articles .projects-image {
  flex: 1;
}
#projects-list .container .project-list-content .projects-content .projects-articles .projects-image .images-project {
  width: 370px;
  height: 200px;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text {
  flex: 1;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text h4 {
  font-size: 22px;
  margin: 0;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text p i {
  padding-right: 10px;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text .articles-text-description {
  padding-top: 15px;
  padding-bottom: 40px;
  font-weight: 400;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #535656;
}
#projects-list .container .project-list-content .projects-content .projects-articles .articles-text a i {
  color: #D9C3A9;
  padding-left: 10px;
}
#projects-list .container .project-list-content .article-swiper {
  padding-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  transition: all 0.3s ease;
}
#projects-list .container .project-list-content .article-swiper .prev-next-1 {
  border: none;
  color: rgba(128, 128, 128, 0.3);
  cursor: pointer;
  font-size: 18px;
  background-color: white;
}
#projects-list .container .project-list-content .article-swiper .prev-next-2 {
  border: none;
  color: #4B5264;
  cursor: pointer;
  font-size: 18px;
  background-color: white;
}
#projects-list .container .project-list-content .article-swiper .pages-1 {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #4B5264;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#projects-list .container .project-list-content .article-swiper .pages-1:active {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#projects-list .container .project-list-content .article-swiper .pages-2 {
  background-color: white;
  border: none;
  color: #4B5264;
  cursor: pointer;
}
#projects-list .container .project-list-content .article-swiper .pages-2:active {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#projects-list .container .projects-right {
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  padding-left: 30px;
}
#projects-list .container .projects-right .tags {
  margin-bottom: 20px;
  padding-bottom: 45px;
}
#projects-list .container .projects-right .tags h2 {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 30px;
}
#projects-list .container .projects-right .tags .tag-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#projects-list .container .projects-right .tags .tag-buttons button {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: transparent;
  color: #4F5955;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}
#projects-list .container .projects-right .tags .tag-buttons button:hover {
  background-color: #D9C3A9;
}
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(2),
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(9) {
  grid-column: span 2;
}
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(4),
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(5),
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(6) button:nth-child(1) {
  grid-column: span 1;
}
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(7),
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(8) {
  grid-column: span 2;
}
#projects-list .container .projects-right .tags .tag-buttons button:nth-child(9) {
  grid-column: span 3;
}
#projects-list .container .projects-right .form-assist {
  background-color: #4F5955;
  padding: 10px;
  width: 300px;
  height: 223px;
}
#projects-list .container .projects-right .form-assist h2 {
  color: #D9C3A9;
  margin: 0;
  padding-bottom: 15px;
}
#projects-list .container .projects-right .form-assist p {
  margin: 0;
  color: rgb(196, 196, 196);
  padding-bottom: 40px;
}
#projects-list .container .projects-right .form-assist form .email-form {
  position: relative;
  display: flex;
  align-items: center;
}
#projects-list .container .projects-right .form-assist form .email-form input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  font-style: italic;
}
#projects-list .container .projects-right .form-assist form .email-form i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 600;
}

#report-welcome {
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  padding-bottom: 80px;
  padding-top: 60px;
}
#report-welcome .globeLeft {
  position: absolute;
  bottom: 80px;
  left: 900px;
  z-index: 1;
}
#report-welcome .container {
  position: relative;
  z-index: 2;
}
#report-welcome .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#report-welcome .container .content h1 {
  font-size: 40px;
}
#report-welcome .container .content .about-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#report-welcome .container .content .about-directions a {
  text-decoration: none;
  color: #4F5955;
  font-size: 14px;
}
#report-welcome .container .content .about-directions i {
  color: #4F5955;
}
#report-welcome .container .content .about-directions p {
  font-size: 14px;
  color: #D9C3A9;
  padding: 0;
  margin: 0;
}
#report-welcome .globeRight {
  position: absolute;
  bottom: -90px;
  left: -40px;
  transform: rotate(190deg);
  z-index: 1;
}

#annual-report-juva {
  padding-top: 100px;
  padding-bottom: 70px;
}
#annual-report-juva .container {
  display: flex;
  gap: 50px;
}
#annual-report-juva .container .report-article {
  padding-right: 30px;
}
#annual-report-juva .container .report-article .report-article-content .report-start p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 15px;
  color: #9C9EA6;
}
#annual-report-juva .container .report-article .report-article-content .report-start p i {
  padding-right: 10px;
}
#annual-report-juva .container .report-article .report-article-content .report-start .article-ingress {
  font-weight: 700;
  color: #4F5955;
}
#annual-report-juva .container .report-article .report-article-content .report-start img {
  width: 100%;
}
#annual-report-juva .container .report-article .report-article-content .report-start h4 {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
#annual-report-juva .container .report-article .report-article-content .report-start ul {
  margin: 0;
  padding: 15px;
  padding-right: 0;
}
#annual-report-juva .container .report-article .report-article-content .report-start ul li {
  color: #535656;
  font-size: 14px;
  line-height: 25px;
  padding: 5px;
}
#annual-report-juva .container .report-article .report-article-content .report-start ul li::marker {
  color: #5D8C87;
}
#annual-report-juva .container .report-article .report-article-content .report-middle .middle-start {
  display: flex;
  gap: 30px;
}
#annual-report-juva .container .report-article .report-article-content .report-middle .middle-start .middle-image {
  padding-top: 5px;
}
#annual-report-juva .container .report-article .report-article-content .report-middle .middle-start .middle-start-text h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
#annual-report-juva .container .report-article .report-article-content .report-middle .middle-start .middle-start-text p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 15px;
}
#annual-report-juva .container .report-article .report-article-content .report-end {
  padding-bottom: 60px;
}
#annual-report-juva .container .report-article .report-article-content .report-end h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
#annual-report-juva .container .report-article .report-article-content .report-end p {
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 15px;
}
#annual-report-juva .container .tags-bottom {
  margin-bottom: 20px;
  padding-bottom: 45px;
  display: flex;
  gap: 15px;
  align-content: center;
}
#annual-report-juva .container .tags-bottom h2 {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  padding-top: 5px;
}
#annual-report-juva .container .tags-bottom .article-tags {
  display: flex;
  gap: 15px;
  align-items: center;
}
#annual-report-juva .container .tags-bottom .article-tags button {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: #D9C3A9;
  color: #4F5955;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
  font-size: 13px;
}
#annual-report-juva .container .tags-bottom .article-tags button:hover {
  background-color: transparent;
}
#annual-report-juva .container .projects-right {
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  padding-left: 30px;
}
#annual-report-juva .container .projects-right .tags {
  margin-bottom: 20px;
  padding-bottom: 45px;
}
#annual-report-juva .container .projects-right .tags h2 {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 30px;
}
#annual-report-juva .container .projects-right .tags .tag-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button {
  padding: 7px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: transparent;
  color: #4F5955;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button:hover {
  background-color: #D9C3A9;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(2),
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(9) {
  grid-column: span 2;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(4),
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(5),
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(6) button:nth-child(1) {
  grid-column: span 1;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(7),
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(8) {
  grid-column: span 2;
}
#annual-report-juva .container .projects-right .tags .tag-buttons button:nth-child(9) {
  grid-column: span 3;
}
#annual-report-juva .container .projects-right .form-assist {
  background-color: #4F5955;
  padding: 10px;
  width: 300px;
  height: 223px;
}
#annual-report-juva .container .projects-right .form-assist h2 {
  color: #D9C3A9;
  margin: 0;
  padding-bottom: 15px;
}
#annual-report-juva .container .projects-right .form-assist p {
  margin: 0;
  color: rgb(196, 196, 196);
  padding-bottom: 40px;
}
#annual-report-juva .container .projects-right .form-assist form .email-form {
  position: relative;
  display: flex;
  align-items: center;
}
#annual-report-juva .container .projects-right .form-assist form .email-form input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  font-style: italic;
}
#annual-report-juva .container .projects-right .form-assist form .email-form i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: 600;
}

#contact-welcome {
  position: relative;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  padding-bottom: 80px;
  padding-top: 60px;
}
#contact-welcome .globeLeft {
  position: absolute;
  bottom: 80px;
  left: 900px;
  z-index: 1;
}
#contact-welcome .container {
  position: relative;
  z-index: 2;
}
#contact-welcome .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact-welcome .container .content h1 {
  font-size: 40px;
}
#contact-welcome .container .content .about-directions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#contact-welcome .container .content .about-directions a {
  text-decoration: none;
  color: #4F5955;
  font-size: 14px;
}
#contact-welcome .container .content .about-directions i {
  color: #4F5955;
}
#contact-welcome .container .content .about-directions p {
  font-size: 14px;
  color: #D9C3A9;
  padding: 0;
  margin: 0;
}
#contact-welcome .globeRight {
  position: absolute;
  bottom: -90px;
  left: -40px;
  transform: rotate(190deg);
  z-index: 1;
}

#contact-contact {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 713px;
  background-color: white;
}
#contact-contact .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#contact-contact .container .background-contact {
  position: relative;
  width: 100%;
  height: auto;
}
#contact-contact .container .background-contact .contactBackground,
#contact-contact .container .background-contact .contactMember {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  height: auto;
}
#contact-contact .container .background-contact .contactMember {
  z-index: 1;
}
#contact-contact .container .background-contact .contactBackground {
  z-index: 0;
}
#contact-contact .container .about-contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
#contact-contact .container .about-contact-info h2 {
  font-size: 40px;
}
#contact-contact .container .about-contact-info .about-office-location {
  padding-top: 10px;
}
#contact-contact .container .about-contact-info .about-office-location .example-info {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}
#contact-contact .container .about-contact-info .about-office-location .example-info i {
  color: #D9C3A9;
  padding-right: 10px;
}
#contact-contact .container .about-contact-info .about-office-location .office-info {
  margin: 0;
  font-size: 14px;
}

#map-form {
  position: relative;
  overflow: visible;
  height: 748px;
}
#map-form .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#map-form .container {
  background-color: white;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1170px;
  height: 567px;
}
#map-form .container .form-text {
  padding-top: 80px;
  width: 50%;
}
#map-form .container .form-text h5 {
  color: #D9C3A9;
  font-weight: 700;
  margin: 0;
}
#map-form .container .form-text h2 {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}
#map-form .container .form-text p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  padding-top: 25px;
}
#map-form .container .contact-form {
  width: 100%;
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
#map-form .container .contact-form form .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 20px;
}
#map-form .container .contact-form form .form-row input {
  padding: 17px;
  box-sizing: border-box;
  font-style: italic;
  border: 1px solid lightgrey;
}
#map-form .container .contact-form form .form-row .input-with-icon {
  position: relative;
}
#map-form .container .contact-form form .form-row .input-with-icon input {
  width: 100%;
  padding-right: 30px;
  font-style: normal;
}
#map-form .container .contact-form form .form-row .input-with-icon i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
#map-form .container .submit-contact {
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  gap: 12px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: #4F5955;
  color: #F2EDDC;
}
#map-form .container .submit-contact:hover {
  transition: 0.25s;
  text-decoration: none;
}
#map-form .container .submit-contact:hover {
  background-color: #F2EDDC;
  color: #4F5955;
}
#map-form .container .submit-contact button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

#company-customers {
  padding-top: 175px;
  padding-bottom: 75px;
  background-color: rgba(185, 185, 185, 0.2);
}
#company-customers .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: black;
  padding: 15px;
}
footer .container {
  display: flex;
}
footer .container .credits a {
  text-decoration: none !important;
  color: rgb(217, 195, 169);
}
